*, *::before, *::after { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Poppins', 'Nunito', sans-serif;
    background-color: #f5f5f5;
}

/* Reset list styles */
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Reset link styles */
a {
    text-decoration: none;
    color: inherit;
}

[data-anim] {
  opacity: 0;
}
[data-anim].animate__animated {
  opacity: 1; /* Akan muncul saat class animate__animated ditambahkan */
}

header {
    position: sticky;
    top: 0; /* posisikan elemen menempel di sisi atas layar */
    z-index: 100;
    margin: 0 2% 0 2%;
    background-color: #5A7C44;
    border-radius: 0 0 10px 10px;
}

.header-sticky {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5%;
}

.header-sticky img {
    display: block;
    height: 45px;
    width: 50px;
    margin-left: 1%;
}

.daftar-sekarang-btn {
    background-color: #f5f5f5;
    color: #5A7C44;
    font-weight: 700;
    transition: all 0.3s ease;
}

.daftar-sekarang-btn:hover {
    background-color: #96ce71;
    color: #ffffff;
    border-color: #96ce71;
}

.hero {
    padding: 5% 8% 5% 8%;
    margin: 5% 2% 0 2%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
}

.hero-text-button {
    width: 60%;
}

.hero-text-button h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.hero-text-button h3 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.hero-text-button h3 b {
    color: #5A7C44;
}

.text-hero {
    display: block;
    width: 80%;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin-top: 4%;
}


.tombol-hero {
    margin-top: 5%;
    display: flex;
    gap: 0.6rem;
}

.daftar-hero {
    padding: 8px 50px 8px 50px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.daftar-hero:hover {
    background-color: #9dff00;
    color: #4a7522;
    border-color: #9dff00;
}

.daftar-hero1 {
    padding: 8px 25px 8px 25px;
    background: #f5f5f5;
    color: #5A7C44;
    border: 2px solid #5A7C44;
    font-weight: 500;
    transition: all 0.3s ease;
}

.daftar-hero1:hover {
    background-color: rgb(126, 151, 151);
    color: #ffffff;
    border-color: rgb(126, 151, 151);
} 

.hero-picture {
    background-image: url(/assets/hero-front-box.png);
    background-size: cover;
    height: 500px;
    width: 50%;
    border-radius: 25px;
    align-items: end;
    display: flex;
    background-position: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.hero-picture:hover {
    transform: translateY(-10px);
}

.hero-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Tinggi otomatis agar proporsi tetap */
}

.hero-picture img:hover {
    transform: scale(1.1);
}

.promotion {
    padding: 8% 3% 8% 3%;
    overflow: hidden;
}

.promotion-card {
    display: flex;
    flex: 1;
    gap: 1rem;
}

.card-pro {
    background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    padding: 2%;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: crosshair;
}

.card-pro:hover {
    background-color: #dddddd;
    transform: translateY(-10px);
}

.card-pro a {
    transition: color 0.3s ease;
    font-weight: 600;
}

.card-pro a:hover {
    color: #fff;
}

.berita {
    background: #5A7C44;
    padding: 2% 8% 2% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.judul-div {
    text-align: center;
    margin-top: 2%;
}

.judul-div h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
}

.text-judul {
    font-weight: 400;
    color: #fff;
    font-size: medium;
}

.card-news-con {
    padding: 5%;
    display: flex;
    flex: 1;
    gap: 2rem;
    overflow: hidden;
}

.card-news-child {
    background: #ffffff;
    padding: 2%;
    border-radius: 15px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.news-text {
    margin-top: 8%;
}

.news-text h3 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.card-tombol {
    transition: all 0.3s ease;
    margin-top: 5%;
}

.card-tombol:hover {
    background-color: #ffffff;
    color: #000;
}

.slen {
    background-color: #9dff00;
    transition: all 0.3s ease;
    color: #685656;
    font-weight: 600;
}

.slen:hover {
    background-color: #ffffff;
    color: #000000;
    transform: translateY(-10px);
    border: #ffffff;
}

